body {
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: Josefin Sans;
  }
  
  #containers {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #welcome {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/background_pics/h_img.jpg);
    height: 80vh;
    width: 100%;
    background-position: center;
    color: white;
    background-size: 100% 100%;
    text-align: center;
    font-size: 34.2px;
    min-height: 50vh;
    min-width: 100%;
  }
  #container-fluid {
    margin-top: 1.78%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #contact_us {
    background-image: url(../images/background_pics/c_image.jpg);
    text-align: center;
    justify-content: end;
    min-height: 50vh;
    min-width: 100%;
    margin-top: 2%;
    color: white;
    background-size: 100% 100%;
  }
  #mouse {
    margin-top: 10.3%;
  }
  
  #mouse:hover {
    cursor: pointer;
    animation: bounce 0.55s infinite;
  }